<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "post:home" %}">My Own Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "post:home" %}">Home <i class="bi bi-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "post:posts" %}">Blogs <i class="bi bi-newspaper"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "post:newpost" %}">New Post <i class="bi bi-plus-circle-dotted"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> {{user}} <i class="bi bi-person-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "post:logout" %}">Logout <i class="bi bi-box-arrow-right"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "post:login" %}">Login <i class="bi bi-door-open"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "post:register" %}">Register <i class="bi bi-person-plus"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>